body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-9xl: 28px;

  /* Colors */
  --color-beige: #f1ecd0;
  --color-black: #000;
  --color-wheat-100: #f0dbaf;
  --color-saddlebrown: #6c4527;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-3xs: 10px;
}
