.m-estado-quejas {
    background-color: #f1ecd0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .m-estado-quejas .div {
    background-color: #f1ecd0;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .m-estado-quejas .overlap {
    position: absolute;
    width: 906px;
    height: 62px;
    top: 40px;
    left: 287px;
    background-image: url(https://c.animaapp.com/U2Nn1Tdz/img/rectangle-53.svg);
    background-size: 100% 100%;
  }
  
  .m-estado-quejas .text-wrapper {
    position: absolute;
    width: 284px;
    height: 34px;
    top: 13px;
    left: 20px;
    opacity: 0.5;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .m-estado-quejas .component {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 24px;
    left: 27px;
    background-color: #f0dbaf;
  }
  
  .m-estado-quejas .img {
    position: absolute;
    width: 30px;
    height: 28px;
    top: 9px;
    left: 8px;
  }
  
  .m-estado-quejas .overlap-group {
    position: absolute;
    width: 48px;
    height: 826px;
    top: 160px;
    left: 1374px;
  }
  
  .m-estado-quejas .ellipse {
    top: 390px;
    left: 24px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 7.5px;
  }
  
  .m-estado-quejas .ellipse-2 {
    top: 340px;
    left: 24px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 7.5px;
  }
  
  .m-estado-quejas .ellipse-3 {
    top: 290px;
    left: 24px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 7.5px;
  }
  
  .m-estado-quejas .rectangle {
    position: absolute;
    width: 48px;
    height: 826px;
    top: 0;
    left: 0;
    background-color: #f0dbaf;
    border: 1px solid;
    border-color: #000000;
  }
  
  .m-estado-quejas .ellipse-4 {
    top: 431px;
    left: 19px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 7.5px;
  }
  
  .m-estado-quejas .ellipse-5 {
    top: 381px;
    left: 19px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 7.5px;
  }
  
  .m-estado-quejas .ellipse-6 {
    top: 331px;
    left: 19px;
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 7.5px;
  }
  
  .m-estado-quejas .rectangle-2 {
    position: absolute;
    width: 79px;
    height: 69px;
    top: 24px;
    left: 1321px;
    background-color: #f0dbaf;
    box-shadow: 0px 4px 4px #00000040;
  }
  
  .m-estado-quejas .overlap-2 {
    position: absolute;
    width: 583px;
    height: 182px;
    top: 269px;
    left: 110px;
    background-color: #f0dbaf;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .m-estado-quejas .div-2 {
    position: absolute;
    width: 135px;
    height: 25px;
    top: 133px;
    left: 369px;
    background-color: #38c115;
    border-radius: 40px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .m-estado-quejas .text-wrapper-2 {
    position: absolute;
    height: 18px;
    top: 2px;
    left: 5px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .m-estado-quejas .div-3 {
    position: absolute;
    width: 100px;
    height: 25px;
    top: 133px;
    left: 221px;
    background-color: #6c4527;
    border-radius: 40px;
  }
  
  .m-estado-quejas .text-wrapper-3 {
    top: 2px;
    left: 7px;
    position: absolute;
    height: 19px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .m-estado-quejas .div-4 {
    position: absolute;
    width: 141px;
    height: 25px;
    top: 36px;
    left: 217px;
    background-color: #6c4527;
    border-radius: 40px;
  }
  
  .m-estado-quejas .text-wrapper-4 {
    position: absolute;
    height: 19px;
    top: 3px;
    left: 23px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .m-estado-quejas .div-5 {
    position: absolute;
    width: 287px;
    height: 40px;
    top: 75px;
    left: 217px;
    background-color: #6c4527;
    border-radius: 40px;
  }
  
  .m-estado-quejas .p {
    position: absolute;
    height: 19px;
    top: 10px;
    left: 5px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .m-estado-quejas .overlap-3 {
    position: absolute;
    width: 127px;
    height: 25px;
    top: 36px;
    left: 387px;
  }
  
  .m-estado-quejas .rectangle-3 {
    position: absolute;
    width: 115px;
    height: 25px;
    top: 0;
    left: 0;
    background-color: #6c4527;
    border-radius: 40px;
  }
  
  .m-estado-quejas .text-wrapper-5 {
    position: absolute;
    width: 117px;
    height: 18px;
    top: 3px;
    left: 10px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .m-estado-quejas .image {
    height: 115px;
    top: 38px;
    left: 31px;
    position: absolute;
    width: 139px;
    object-fit: cover;
  }
  
  .m-estado-quejas .overlap-4 {
    position: absolute;
    width: 583px;
    height: 182px;
    top: 269px;
    left: 747px;
    border-radius: 20px;
  }
  
  .m-estado-quejas .rectangle-4 {
    position: absolute;
    width: 583px;
    height: 182px;
    top: 0;
    left: 0;
    background-color: #f0dbaf;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .m-estado-quejas .text-wrapper-6 {
    top: 38px;
    left: 227px;
    position: absolute;
    height: 19px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .m-estado-quejas .text-wrapper-7 {
    position: absolute;
    height: 19px;
    top: 85px;
    left: 227px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .m-estado-quejas .text-wrapper-8 {
    top: 135px;
    left: 228px;
    position: absolute;
    height: 19px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .m-estado-quejas .text-wrapper-9 {
    position: absolute;
    height: 18px;
    top: 136px;
    left: 375px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .m-estado-quejas .rectangle-5 {
    position: absolute;
    width: 115px;
    height: 25px;
    top: 36px;
    left: 387px;
    background-color: #6c4527;
    border-radius: 40px;
  }
  
  .m-estado-quejas .text-wrapper-10 {
    top: 39px;
    left: 393px;
    position: absolute;
    width: 117px;
    height: 18px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .m-estado-quejas .image-2 {
    width: 135px;
    height: 118px;
    top: 36px;
    left: 36px;
    position: absolute;
    object-fit: cover;
  }
  
  .m-estado-quejas .div-wrapper {
    position: absolute;
    width: 493px;
    height: 84px;
    top: 144px;
    left: 471px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .m-estado-quejas .text-wrapper-11 {
    position: absolute;
    width: 455px;
    height: 58px;
    top: 12px;
    left: 19px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 48px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .m-estado-quejas .overlap-group-2 {
    position: absolute;
    width: 583px;
    height: 182px;
    top: 508px;
    left: 110px;
    background-color: #f0dbaf;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .m-estado-quejas .image-3 {
    width: 134px;
    height: 108px;
    top: 35px;
    left: 36px;
    position: absolute;
    object-fit: cover;
  }
  
  .m-estado-quejas .overlap-5 {
    position: absolute;
    width: 583px;
    height: 182px;
    top: 508px;
    left: 747px;
    background-color: #f0dbaf;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .m-estado-quejas .text-wrapper-12 {
    top: 2px;
    left: 10px;
    position: absolute;
    height: 19px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .m-estado-quejas .text-wrapper-13 {
    position: absolute;
    height: 19px;
    top: 10px;
    left: 10px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .m-estado-quejas .overlap-6 {
    position: absolute;
    width: 123px;
    height: 25px;
    top: 36px;
    left: 387px;
  }
  
  .m-estado-quejas .text-wrapper-14 {
    top: 3px;
    left: 6px;
    position: absolute;
    width: 117px;
    height: 18px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .m-estado-quejas .image-4 {
    width: 137px;
    height: 112px;
    top: 35px;
    left: 33px;
    position: absolute;
    object-fit: cover;
  }
  
  .m-estado-quejas .overlap-7 {
    position: absolute;
    width: 583px;
    height: 182px;
    top: 746px;
    left: 110px;
    background-color: #f0dbaf;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .m-estado-quejas .text-wrapper-15 {
    position: absolute;
    height: 19px;
    top: 3px;
    left: 12px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .m-estado-quejas .text-wrapper-16 {
    position: absolute;
    width: 262px;
    height: 38px;
    top: 0;
    left: 13px;
    font-family: "Inter", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .m-estado-quejas .image-5 {
    height: 98px;
    top: 38px;
    left: 31px;
    position: absolute;
    width: 139px;
    object-fit: cover;
  }
  
  .m-estado-quejas .overlap-8 {
    position: absolute;
    width: 583px;
    height: 182px;
    top: 746px;
    left: 747px;
    background-color: #f0dbaf;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .m-estado-quejas .image-6 {
    height: 100px;
    top: 35px;
    left: 35px;
    position: absolute;
    width: 139px;
    object-fit: cover;
  }
  
  .m-estado-quejas .pappel-copia {
    position: absolute;
    width: 100px;
    height: 98px;
    top: 24px;
    left: 130px;
  }
  