.lista-de-productos {
    background-color: #f1ecd0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .lista-de-productos .div {
    background-color: #f1ecd0;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .lista-de-productos .component {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 24px;
    left: 27px;
    background-color: #e5d6a3;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-productos .img {
    position: absolute;
    width: 30px;
    height: 28px;
    top: 8px;
    left: 7px;
  }
  
  .lista-de-productos .overlap {
    position: absolute;
    width: 906px;
    height: 62px;
    top: 47px;
    left: 267px;
    background-image: url(https://c.animaapp.com/cMh2onfK/img/rectangle-2.svg);
    background-size: 100% 100%;
  }
  
  .lista-de-productos .text-wrapper {
    position: absolute;
    width: 625px;
    top: 9px;
    left: 44px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .image {
    width: 69px;
    height: 69px;
    top: 24px;
    left: 1326px;
    mix-blend-mode: darken;
    position: absolute;
    object-fit: cover;
  }
  
  .lista-de-productos .overlap-group {
    position: absolute;
    width: 1351px;
    height: 882px;
    top: 179px;
    left: 10px;
  }
  
  .lista-de-productos .overlap-group-2 {
    position: absolute;
    width: 1351px;
    height: 835px;
    top: 0;
    left: 0;
  }
  
  .lista-de-productos .component-2 {
    position: absolute;
    width: 915px;
    height: 150px;
    top: 0;
    left: 436px;
    background-color: #e5d6a3;
    border-radius: 30px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-productos .rectangle {
    position: absolute;
    width: 387px;
    height: 26px;
    top: 16px;
    left: 190px;
    background-color: #6c4527;
    border-radius: 30px;
  }
  
  .lista-de-productos .rectangle-2 {
    position: absolute;
    width: 563px;
    height: 59px;
    top: 66px;
    left: 190px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-productos .image-2 {
    width: 152px;
    height: 116px;
    top: 20px;
    left: 459px;
    position: absolute;
    object-fit: cover;
  }
  
  .lista-de-productos .component-3 {
    position: absolute;
    width: 915px;
    height: 150px;
    top: 183px;
    left: 436px;
    background-color: #e5d6a3;
    border-radius: 30px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-productos .image-3 {
    width: 152px;
    height: 116px;
    top: 204px;
    left: 459px;
    position: absolute;
    object-fit: cover;
  }
  
  .lista-de-productos .component-4 {
    position: absolute;
    width: 915px;
    height: 150px;
    top: 366px;
    left: 436px;
    background-color: #e5d6a3;
    border-radius: 30px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-productos .image-4 {
    width: 152px;
    height: 116px;
    top: 383px;
    left: 459px;
    position: absolute;
    object-fit: cover;
  }
  
  .lista-de-productos .component-5 {
    position: absolute;
    width: 915px;
    height: 150px;
    top: 549px;
    left: 436px;
    background-color: #e5d6a3;
    border-radius: 30px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-productos .image-5 {
    width: 152px;
    height: 116px;
    top: 566px;
    left: 459px;
    position: absolute;
    object-fit: cover;
  }
  
  .lista-de-productos .rectangle-3 {
    position: absolute;
    width: 407px;
    height: 835px;
    top: 0;
    left: 0;
    background-color: #e5d6a3;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-productos .rectangle-4 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 58px;
    left: 17px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-productos .rectangle-5 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 123px;
    left: 17px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-productos .rectangle-6 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 189px;
    left: 17px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-productos .rectangle-7 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 255px;
    left: 17px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-productos .rectangle-8 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 321px;
    left: 17px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-productos .rectangle-9 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 387px;
    left: 17px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-productos .rectangle-10 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 453px;
    left: 17px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-productos .rectangle-11 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 519px;
    left: 17px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-productos .rectangle-12 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 585px;
    left: 17px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-productos .rectangle-13 {
    position: absolute;
    width: 363px;
    height: 39px;
    top: 651px;
    left: 17px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-productos .estuche-angoo {
    position: absolute;
    width: 455px;
    top: 16px;
    left: 648px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .span {
    font-style: italic;
  }
  
  .lista-de-productos .text-wrapper-2 {
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
  }
  
  .lista-de-productos .text-wrapper-3 {
    position: absolute;
    width: 455px;
    top: 65px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .text-wrapper-4 {
    position: absolute;
    width: 455px;
    top: 129px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .text-wrapper-5 {
    position: absolute;
    width: 455px;
    top: 194px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .text-wrapper-6 {
    position: absolute;
    width: 455px;
    top: 261px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .text-wrapper-7 {
    position: absolute;
    width: 455px;
    top: 327px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .text-wrapper-8 {
    position: absolute;
    width: 455px;
    top: 393px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .text-wrapper-9 {
    position: absolute;
    width: 455px;
    top: 459px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .text-wrapper-10 {
    position: absolute;
    width: 455px;
    top: 525px;
    left: 34px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .text-wrapper-11 {
    position: absolute;
    width: 455px;
    top: 591px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .text-wrapper-12 {
    position: absolute;
    width: 455px;
    top: 656px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .set-bol-grafos {
    position: absolute;
    width: 455px;
    top: 199px;
    left: 648px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .plum-n-doble-punta {
    position: absolute;
    width: 455px;
    top: 382px;
    left: 648px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .set-destacadores {
    position: absolute;
    width: 455px;
    top: 565px;
    left: 648px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .p {
    position: absolute;
    width: 529px;
    top: 74px;
    left: 648px;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .lista-de-productos .text-wrapper-13 {
    position: absolute;
    width: 576px;
    top: 257px;
    left: 648px;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .lista-de-productos .text-wrapper-14 {
    position: absolute;
    width: 539px;
    top: 440px;
    left: 648px;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .lista-de-productos .text-wrapper-15 {
    position: absolute;
    width: 529px;
    top: 623px;
    left: 648px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .lista-de-productos .rectangle-14 {
    position: absolute;
    width: 105px;
    height: 25px;
    top: 562px;
    left: 1136px;
    background-color: #6c4527;
    border-radius: 30px;
  }
  
  .lista-de-productos .rectangle-15 {
    position: absolute;
    width: 105px;
    height: 25px;
    top: 379px;
    left: 1136px;
    background-color: #6c4527;
    border-radius: 30px;
  }
  
  .lista-de-productos .rectangle-16 {
    position: absolute;
    width: 105px;
    height: 25px;
    top: 196px;
    left: 1136px;
    background-color: #6c4527;
    border-radius: 30px;
  }
  
  .lista-de-productos .rectangle-17 {
    position: absolute;
    width: 105px;
    height: 25px;
    top: 13px;
    left: 1136px;
    background-color: #6c4527;
    border-radius: 30px;
  }
  
  .lista-de-productos .text-wrapper-16 {
    position: absolute;
    width: 61px;
    top: 16px;
    left: 1163px;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .lista-de-productos .text-wrapper-17 {
    width: 67px;
    top: 198px;
    left: 1163px;
    position: absolute;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .lista-de-productos .text-wrapper-18 {
    width: 61px;
    top: 382px;
    left: 1169px;
    position: absolute;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .lista-de-productos .text-wrapper-19 {
    width: 48px;
    top: 565px;
    left: 1169px;
    position: absolute;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .lista-de-productos .button {
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 16px;
    position: absolute;
    top: 57px;
    left: 1280px;
    background-color: #ff0000;
    border-radius: 32px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-productos .icon-left {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -6px;
    margin-bottom: -6px;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .lista-de-productos .icon-left-wrapper {
    top: 240px;
    left: 1280px;
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 16px;
    position: absolute;
    background-color: #ff0000;
    border-radius: 32px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-productos .img-wrapper {
    top: 423px;
    left: 1280px;
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 16px;
    position: absolute;
    background-color: #ff0000;
    border-radius: 32px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-productos .button-2 {
    top: 606px;
    left: 1280px;
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 16px;
    position: absolute;
    background-color: #ff0000;
    border-radius: 32px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-productos .overlap-2 {
    position: absolute;
    width: 915px;
    height: 150px;
    top: 732px;
    left: 436px;
    border-radius: 30px;
  }
  
  .lista-de-productos .component-6 {
    position: absolute;
    width: 915px;
    height: 150px;
    top: 0;
    left: 0;
    background-color: #e5d6a3;
    border-radius: 30px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-productos .image-6 {
    width: 152px;
    height: 96px;
    top: 17px;
    left: 23px;
    position: absolute;
    object-fit: cover;
  }
  
  .lista-de-productos .set-notas-adhesivas {
    position: absolute;
    width: 455px;
    top: 16px;
    left: 212px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-productos .text-wrapper-20 {
    position: absolute;
    width: 529px;
    top: 78px;
    left: 212px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .lista-de-productos .rectangle-18 {
    position: absolute;
    width: 105px;
    height: 25px;
    top: 17px;
    left: 700px;
    background-color: #6c4527;
    border-radius: 30px;
  }
  
  .lista-de-productos .text-wrapper-21 {
    width: 54px;
    top: 19px;
    left: 730px;
    position: absolute;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .lista-de-productos .button-3 {
    top: 61px;
    left: 844px;
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 16px;
    position: absolute;
    background-color: #ff0000;
    border-radius: 32px;
    border: 1px solid;
    border-color: #000000;
  }