.primera-vista-admin {
    background-color: #f1ecd0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .primera-vista-admin .div {
    background-color: #f1ecd0;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .primera-vista-admin .overlap {
    position: absolute;
    width: 906px;
    height: 62px;
    top: 47px;
    left: 289px;
    background-image: url(https://c.animaapp.com/zx625TX2/img/rectangle-2.svg);
    background-size: 100% 100%;
  }
  
  .primera-vista-admin .text-wrapper {
    position: absolute;
    width: 625px;
    top: 12px;
    left: 37px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .primera-vista-admin .component {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 24px;
    left: 27px;
    background-color: #e5d6a3;
    border: 1px solid;
    border-color: #000000;
  }
  
  .primera-vista-admin .img {
    position: absolute;
    width: 30px;
    height: 28px;
    top: 8px;
    left: 7px;
  }
  
  .primera-vista-admin .image {
    width: 69px;
    height: 69px;
    top: 26px;
    left: 1326px;
    mix-blend-mode: darken;
    position: absolute;
    object-fit: cover;
  }
  
  .primera-vista-admin .overlap-group {
    position: absolute;
    width: 1200px;
    height: 156px;
    top: 140px;
    left: 174px;
  }
  
  .primera-vista-admin .component-2 {
    position: absolute;
    width: 1200px;
    height: 150px;
    top: 0;
    left: 0;
    background-color: #e5d6a3;
    border-radius: 30px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .primera-vista-admin .rectangle {
    width: 507px;
    height: 26px;
    top: 16px;
    left: 249px;
    border-radius: 30px;
    position: absolute;
    background-color: #6c4527;
  }
  
  .primera-vista-admin .rectangle-2 {
    width: 738px;
    height: 59px;
    top: 66px;
    left: 249px;
    border-radius: 20px;
    position: absolute;
    background-color: #6c4527;
  }
  
  .primera-vista-admin .text-wrapper-2 {
    position: absolute;
    width: 455px;
    top: 16px;
    left: 276px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .primera-vista-admin .p {
    position: absolute;
    width: 719px;
    top: 73px;
    left: 262px;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .primera-vista-admin .rectangle-3 {
    width: 105px;
    height: 25px;
    top: 14px;
    left: 977px;
    border-radius: 30px;
    position: absolute;
    background-color: #6c4527;
  }
  
  .primera-vista-admin .text-wrapper-3 {
    position: absolute;
    width: 46px;
    top: 17px;
    left: 1007px;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .primera-vista-admin .button {
    display: flex;
    width: 36px;
    height: 36px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px 16px;
    position: absolute;
    top: 57px;
    left: 1104px;
    background-color: #ff0000;
    border-radius: 32px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .primera-vista-admin .icon-left {
    position: relative;
    width: 24px;
    height: 24px;
    margin-top: -6px;
    margin-bottom: -6px;
    margin-left: -10px;
    margin-right: -10px;
  }
  
  .primera-vista-admin .image-2 {
    width: 166px;
    height: 116px;
    top: 17px;
    left: 32px;
    position: absolute;
    object-fit: cover;
  }
  
  .primera-vista-admin .overlap-2 {
    position: absolute;
    width: 1200px;
    height: 150px;
    top: 864px;
    left: 174px;
    border-radius: 30px;
  }
  
  .primera-vista-admin .image-3 {
    width: 167px;
    height: 106px;
    top: 24px;
    left: 32px;
    position: absolute;
    object-fit: cover;
  }
  
  .primera-vista-admin .div-2 {
    position: absolute;
    width: 455px;
    top: 16px;
    left: 276px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .primera-vista-admin .span {
    font-style: italic;
  }
  
  .primera-vista-admin .text-wrapper-4 {
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
  }
  
  .primera-vista-admin .text-wrapper-5 {
    position: absolute;
    width: 689px;
    top: 76px;
    left: 262px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .primera-vista-admin .text-wrapper-6 {
    width: 60px;
    top: 16px;
    left: 1005px;
    position: absolute;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .primera-vista-admin .overlap-3 {
    position: absolute;
    width: 1200px;
    height: 150px;
    top: 683px;
    left: 174px;
    border-radius: 30px;
  }
  
  .primera-vista-admin .text-wrapper-7 {
    position: absolute;
    width: 715px;
    top: 76px;
    left: 262px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .primera-vista-admin .text-wrapper-8 {
    width: 51px;
    top: 16px;
    left: 1005px;
    position: absolute;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .primera-vista-admin .image-4 {
    position: absolute;
    width: 167px;
    height: 116px;
    top: 17px;
    left: 32px;
    object-fit: cover;
  }
  
  .primera-vista-admin .overlap-4 {
    position: absolute;
    width: 1200px;
    height: 150px;
    top: 502px;
    left: 174px;
    border-radius: 30px;
  }
  
  .primera-vista-admin .text-wrapper-9 {
    position: absolute;
    width: 726px;
    top: 74px;
    left: 262px;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .primera-vista-admin .text-wrapper-10 {
    width: 51px;
    top: 17px;
    left: 1009px;
    position: absolute;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .primera-vista-admin .overlap-5 {
    position: absolute;
    width: 1200px;
    height: 150px;
    top: 321px;
    left: 174px;
    border-radius: 30px;
  }
  
  .primera-vista-admin .text-wrapper-11 {
    position: absolute;
    width: 719px;
    top: 76px;
    left: 262px;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  
  .primera-vista-admin .text-wrapper-12 {
    width: 59px;
    top: 16px;
    left: 1005px;
    position: absolute;
    font-family: var(--placeholder-font-family);
    font-weight: var(--placeholder-font-weight);
    color: #ffffff;
    font-size: var(--placeholder-font-size);
    letter-spacing: var(--placeholder-letter-spacing);
    line-height: var(--placeholder-line-height);
    font-style: var(--placeholder-font-style);
  }
  