body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-9xl: 28px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-wheat-100: #f0dbaf;
  --color-saddlebrown: #6c4527;
  --color-gray-100: #101010;
  --color-lime: #00f819;
  --color-black: #000;
  --neutral-nl3: #f4f5f6;

  /* Paddings */
  --padding-xs: 12px;
  --padding-base: 16px;

  /* Border radiuses */
  --br-11xl: 30px;
  --br-13xl: 32px;
}
