.lista-de-quejas {
    background-color: #f1ecd0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .lista-de-quejas .div {
    background-color: #f1ecd0;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .lista-de-quejas .component {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 17px;
    left: 27px;
    background-color: #e5d6a3;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-quejas .img {
    position: absolute;
    width: 30px;
    height: 28px;
    top: 8px;
    left: 7px;
  }
  
  .lista-de-quejas .overlap-group {
    position: absolute;
    width: 906px;
    height: 62px;
    top: 40px;
    left: 267px;
    background-image: url(https://c.animaapp.com/sj8dY8Bo/img/rectangle-82.svg);
    background-size: 100% 100%;
  }
  
  .lista-de-quejas .text-wrapper {
    position: absolute;
    width: 625px;
    top: 13px;
    left: 33px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-quejas .image {
    width: 69px;
    height: 69px;
    top: 24px;
    left: 1326px;
    mix-blend-mode: darken;
    position: absolute;
    object-fit: cover;
  }
  
  .lista-de-quejas .overlap {
    position: absolute;
    width: 855px;
    height: 215px;
    top: 173px;
    left: 457px;
    border-radius: 20px;
  }
  
  .lista-de-quejas .rectangle {
    position: absolute;
    width: 855px;
    height: 215px;
    top: 0;
    left: 0;
    background-color: #e5d6a3;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-quejas .div-2 {
    position: absolute;
    width: 183px;
    height: 30px;
    top: 164px;
    left: 625px;
    background-color: #6c4527;
    border-radius: 40px;
  }
  
  .lista-de-quejas .div-3 {
    position: absolute;
    width: 490px;
    height: 113px;
    top: 37px;
    left: 318px;
    background-color: #6c4527;
    border-radius: 40px;
  }
  
  .lista-de-quejas .problema-de-env-o-mi {
    position: absolute;
    width: 425px;
    top: 57px;
    left: 350px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .lista-de-quejas .text-wrapper-2 {
    position: absolute;
    width: 117px;
    top: 166px;
    left: 662px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-quejas .image-2 {
    width: 179px;
    height: 143px;
    top: 31px;
    left: 53px;
    position: absolute;
    object-fit: cover;
  }
  
  .lista-de-quejas .overlap-2 {
    position: absolute;
    width: 855px;
    height: 215px;
    top: 464px;
    left: 457px;
    background-color: #e5d6a3;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-quejas .servicio-al-cliente {
    position: absolute;
    width: 432px;
    top: 15px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .lista-de-quejas .text-wrapper-3 {
    position: absolute;
    width: 145px;
    top: 2px;
    left: 25px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-quejas .image-3 {
    width: 179px;
    height: 160px;
    top: 18px;
    left: 52px;
    position: absolute;
    object-fit: cover;
  }
  
  .lista-de-quejas .overlap-3 {
    position: absolute;
    width: 855px;
    height: 215px;
    top: 755px;
    left: 457px;
    background-color: #e5d6a3;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-quejas .image-4 {
    width: 179px;
    height: 141px;
    top: 25px;
    left: 52px;
    position: absolute;
    object-fit: cover;
  }
  
  .lista-de-quejas .calidad-del-producto {
    position: absolute;
    width: 437px;
    top: 15px;
    left: 40px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .lista-de-quejas .text-wrapper-4 {
    position: absolute;
    width: 149px;
    top: 2px;
    left: 20px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .lista-de-quejas .overlap-4 {
    position: absolute;
    width: 216px;
    height: 353px;
    top: 173px;
    left: 60px;
    background-color: #e5d6a3;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .lista-de-quejas .rectangle-2 {
    position: absolute;
    width: 169px;
    height: 39px;
    top: 47px;
    left: 22px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-quejas .rectangle-3 {
    top: 149px;
    position: absolute;
    width: 169px;
    height: 39px;
    left: 22px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-quejas .rectangle-4 {
    top: 251px;
    position: absolute;
    width: 169px;
    height: 39px;
    left: 22px;
    background-color: #6c4527;
    border-radius: 20px;
  }
  
  .lista-de-quejas .text-wrapper-5 {
    position: absolute;
    width: 147px;
    top: 56px;
    left: 36px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .lista-de-quejas .text-wrapper-6 {
    position: absolute;
    width: 131px;
    top: 158px;
    left: 41px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .lista-de-quejas .text-wrapper-7 {
    position: absolute;
    width: 151px;
    top: 260px;
    left: 36px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 15px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .lista-de-quejas .rectangle-5 {
    position: absolute;
    width: 216px;
    height: 353px;
    top: -1px;
    left: -1px;
    background-color: #e5d6a3;
    border-radius: 20px;
    border: 1px solid;
    border-color: #000000;
  }
  