body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-21xl: 40px;
  --font-size-29xl: 48px;

  /* Colors */
  --color-wheat: #f0dbaf;
  --color-black: #000;
  --color-white: #fff;
  --color-saddlebrown: #6c4527;
  --color-lime: #00f819;

  /* Border radiuses */
  --br-11xl: 30px;
}
