body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inter: Inter;

  /* font sizes */
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-beige: #f1ecd0;
  --color-saddlebrown: #6c4527;
  --color-black: #000;
  --color-wheat-100: #f0dbaf;
  --color-white: #fff;

  /* Border radiuses */
  --br-3xs: 10px;
  --br-11xl: 30px;
}
