.component-2-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-wheat-100);
}
.component-1-child {
  position: absolute;
  height: 3.7%;
  width: 103.33%;
  top: 46.3%;
  right: -1.67%;
  bottom: 50%;
  left: -1.67%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.component-1-item {
  position: absolute;
  height: 3.7%;
  width: 100%;
  top: -1.85%;
  right: 0;
  bottom: 98.15%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-1-inner {
  position: absolute;
  height: 3.7%;
  width: 103.33%;
  top: 98.15%;
  right: -1.67%;
  bottom: -1.85%;
  left: -1.67%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.component-1 {
  position: absolute;
  height: 58.7%;
  width: 65.22%;
  top: 21.74%;
  right: 17.39%;
  bottom: 19.57%;
  left: 17.39%;
}
.component-2 {
  position: absolute;
  top: 24px;
  left: 27px;
  width: 46px;
  height: 46px;
}
.component-100-child {
  position: absolute;
  height: 100%;
  width: 97.9%;
  top: 0;
  right: 2.1%;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #e5d6a3;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.component-100-item,
.genero-hombre {
  position: absolute;
  width: 37.42%;
  left: 4.73%;
}
.component-100-item {
  height: 8.46%;
  top: 81.29%;
  right: 57.84%;
  bottom: 10.24%;
  border-radius: var(--br-11xl);
  background-color: var(--color-saddlebrown);
}
.genero-hombre {
  top: 83.63%;
  display: inline-block;
}
.component-74-child {
  position: absolute;
  height: 100%;
  width: 70.03%;
  top: 0;
  right: 14.98%;
  bottom: 0;
  left: 14.98%;
  border-radius: var(--br-11xl);
  background-color: var(--color-lime);
}
.editar {
  position: absolute;
  height: 78.95%;
  width: 100%;
  top: 10.53%;
  left: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.component-74 {
  position: absolute;
  height: 8.46%;
  width: 25.15%;
  top: 89.76%;
  right: 0;
  bottom: 1.78%;
  left: 74.85%;
  font-size: var(--font-size-29xl);
  color: var(--color-gray-100);
}
.component-100-inner {
  position: absolute;
  height: 8.46%;
  width: 8.68%;
  top: 1.67%;
  right: 3.86%;
  bottom: 89.87%;
  left: 87.47%;
  border-radius: var(--br-11xl);
  background-color: var(--color-saddlebrown);
}
.icon-left {
  width: 24px;
  position: relative;
  height: 24px;
}
.button {
  position: absolute;
  height: 4.45%;
  width: 3.51%;
  top: 3.9%;
  right: 6.49%;
  bottom: 91.65%;
  left: 90.01%;
  border-radius: var(--br-13xl);
  background-color: red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
}
.rectangle-div {
  position: absolute;
  height: 8.46%;
  width: 47.59%;
  top: 11.36%;
  right: 3.42%;
  bottom: 80.18%;
  left: 48.99%;
  border-radius: var(--br-11xl);
  background-color: var(--color-saddlebrown);
}
.dino-troncoso {
  position: absolute;
  height: 6.9%;
  width: 39.7%;
  top: 12.14%;
  left: 51.88%;
  font-size: var(--font-size-29xl);
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-100-child1 {
  position: absolute;
  height: 8.46%;
  width: 37.42%;
  top: 50%;
  right: 57.84%;
  bottom: 41.54%;
  left: 4.73%;
  border-radius: var(--br-11xl);
  background-color: var(--color-saddlebrown);
}
.fecha-de-creacion {
  position: absolute;
  width: 37.42%;
  top: 52.34%;
  left: 4.73%;
  display: inline-block;
}
.component-100-child2 {
  position: absolute;
  height: 36.08%;
  width: 39.7%;
  top: 46.88%;
  right: 8.41%;
  bottom: 17.04%;
  left: 51.88%;
  border-radius: var(--br-11xl);
  background-color: var(--color-saddlebrown);
}
.descripcion {
  margin: 0;
}
.descripcion-padre-de-container {
  position: absolute;
  height: 32.07%;
  width: 36.55%;
  top: 49.22%;
  left: 53.46%;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  display: inline-block;
}
.component-100-child3,
.ubicacion-temuco {
  position: absolute;
  width: 37.42%;
  left: 4.73%;
}
.component-100-child3 {
  height: 8.46%;
  top: 66.26%;
  right: 57.84%;
  bottom: 25.28%;
  border-radius: var(--br-11xl);
  background-color: var(--color-saddlebrown);
}
.ubicacion-temuco {
  top: 68.6%;
  display: inline-block;
}
.component-100-child4 {
  position: absolute;
  height: 4.12%;
  width: 47.24%;
  top: 31.85%;
  right: 3.77%;
  bottom: 64.03%;
  left: 48.99%;
  border-radius: var(--br-11xl);
  background-color: var(--color-saddlebrown);
}
.dtroncosogmailcom {
  position: absolute;
  width: 37.86%;
  top: 32.29%;
  left: 52.15%;
  font-size: 24px;
  text-align: left;
  display: inline-block;
}
.component-100-child5 {
  position: absolute;
  height: 36.3%;
  width: 40.23%;
  top: 5.9%;
  right: 53.64%;
  bottom: 57.8%;
  left: 6.13%;
  border-radius: var(--br-11xl);
  background-color: var(--color-saddlebrown);
}
.image-24-icon {
  position: absolute;
  height: 29.68%;
  width: 35.06%;
  top: 9.24%;
  right: 56.18%;
  bottom: 61.08%;
  left: 8.76%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-100 {
  position: absolute;
  top: 93px;
  left: 143px;
  width: 1141px;
  height: 898px;
}
.pappel-copia-removebg-previe-icon {
  position: absolute;
  top: 22px;
  left: 85px;
  width: 75px;
  height: 73.2px;
  object-fit: cover;
  cursor: pointer;
}
.component-8-item {
  position: absolute;
  height: 2.75%;
  width: 47.5%;
  top: 50%;
  right: 25%;
  bottom: 47.25%;
  left: 27.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.component-8 {
  position: absolute;
  top: 99px;
  left: 30px;
  width: 40px;
  height: 40px;
}
.perfil {
  width: 100%;
  position: relative;
  background-color: #f1ecd0;
  height: 1024px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-9xl);
  color: var(--color-wheat-100);
  font-family: var(--font-inter);
}
