.vista-de-usuario-en {
    background-color: #f1ecd0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .vista-de-usuario-en .div {
    background-color: #f1ecd0;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .vista-de-usuario-en .component {
    position: absolute;
    width: 46px;
    height: 46px;
    top: 17px;
    left: 27px;
    background-color: #e5d6a3;
    border: 1px solid;
    border-color: #000000;
  }
  
  .vista-de-usuario-en .img {
    position: absolute;
    width: 30px;
    height: 28px;
    top: 8px;
    left: 7px;
  }
  
  .vista-de-usuario-en .overlap {
    position: absolute;
    width: 906px;
    height: 62px;
    top: 40px;
    left: 267px;
    background-image: url(https://c.animaapp.com/TkIyXxk1/img/rectangle-82.svg);
    background-size: 100% 100%;
  }
  
  .vista-de-usuario-en .text-wrapper {
    position: absolute;
    width: 625px;
    top: 13px;
    left: 33px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .vista-de-usuario-en .image {
    width: 69px;
    height: 69px;
    top: 24px;
    left: 1326px;
    mix-blend-mode: darken;
    position: absolute;
    object-fit: cover;
  }
  
  .vista-de-usuario-en .overlap-group {
    position: absolute;
    width: 941px;
    height: 835px;
    top: 150px;
    left: 249px;
    background-color: #e5d6a3;
    border-radius: 30px;
    border: 1px solid;
    border-color: #000000;
  }
  
  .vista-de-usuario-en .div-wrapper {
    position: absolute;
    width: 402px;
    height: 62px;
    top: 112px;
    left: 504px;
    background-color: #6c4527;
    border-radius: 30px;
  }
  
  .vista-de-usuario-en .text-wrapper-2 {
    position: absolute;
    width: 300px;
    top: 11px;
    left: 36px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .vista-de-usuario-en .overlap-2 {
    position: absolute;
    width: 402px;
    height: 62px;
    top: 232px;
    left: 504px;
    background-color: #6c4527;
    border-radius: 30px;
  }
  
  .vista-de-usuario-en .text-wrapper-3 {
    position: absolute;
    width: 343px;
    top: 11px;
    left: 29px;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .vista-de-usuario-en .overlap-3 {
    position: absolute;
    width: 342px;
    height: 92px;
    top: 720px;
    left: 534px;
    background-image: url(https://c.animaapp.com/TkIyXxk1/img/rectangle-101.svg);
    background-size: 100% 100%;
  }
  
  .vista-de-usuario-en .text-wrapper-4 {
    position: absolute;
    width: 237px;
    top: 25px;
    left: 60px;
    -webkit-text-stroke: 1px #000000;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .vista-de-usuario-en .overlap-4 {
    position: absolute;
    width: 342px;
    height: 92px;
    top: 720px;
    left: 75px;
  }
  
  .vista-de-usuario-en .rectangle {
    position: absolute;
    width: 342px;
    height: 92px;
    top: 0;
    left: 0;
  }
  
  .vista-de-usuario-en .text-wrapper-5 {
    position: absolute;
    width: 237px;
    top: 25px;
    left: 51px;
    -webkit-text-stroke: 1px #ffffff;
    font-family: "Inter", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 30px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .vista-de-usuario-en .descripcion-padre-de-wrapper {
    position: absolute;
    width: 872px;
    height: 268px;
    top: 422px;
    left: 34px;
    background-color: #6c4527;
    border-radius: 30px;
  }
  
  .vista-de-usuario-en .descripcion-padre-de {
    position: absolute;
    width: 806px;
    top: 28px;
    left: 45px;
    font-family: "Inter", Helvetica;
    font-weight: 500;
    color: #ffffff;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .vista-de-usuario-en .image-2 {
    width: 415px;
    height: 276px;
    top: 63px;
    left: 37px;
    position: absolute;
    object-fit: cover;
  }
  