:root {
  --placeholder-font-family: "Inter", Helvetica;
  --placeholder-font-weight: 500;
  --placeholder-font-size: 12px;
  --placeholder-letter-spacing: 0px;
  --placeholder-line-height: normal;
  --placeholder-font-style: normal;
}
