.component-2-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-wheat-100);
}
.component-1-child {
  position: absolute;
  height: 3.7%;
  width: 103.33%;
  top: 46.3%;
  right: -1.67%;
  bottom: 50%;
  left: -1.67%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.component-1-item {
  position: absolute;
  height: 3.7%;
  width: 100%;
  top: -1.85%;
  right: 0;
  bottom: 98.15%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.component-1-inner {
  position: absolute;
  height: 3.7%;
  width: 103.33%;
  top: 98.15%;
  right: -1.67%;
  bottom: -1.85%;
  left: -1.67%;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
}
.component-1 {
  position: absolute;
  height: 58.7%;
  width: 65.22%;
  top: 21.74%;
  right: 17.39%;
  bottom: 19.57%;
  left: 17.39%;
}
.component-2 {
  position: absolute;
  top: 24px;
  left: 27px;
  width: 46px;
  height: 46px;
}
.apartado-de-quejas-child {
  position: absolute;
  top: 106px;
  left: 1374px;
  border-radius: 40px;
  background-color: var(--color-wheat-200);
  width: 28px;
  height: 831px;
}
.component-47-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-wheat-100);
}
.image-17-icon {
  position: absolute;
  height: 88%;
  width: 88%;
  top: 6%;
  right: 6%;
  bottom: 6%;
  left: 6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-47 {
  position: absolute;
  top: 31px;
  left: 1377px;
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.apartado-de-quejas-item {
  position: absolute;
  top: 31px;
  left: 267px;
  border-radius: 44px;
  width: 906px;
  height: 62px;
}
.apartado-de-quejas-inner {
  position: absolute;
  top: 44px;
  left: 279px;
  border-radius: var(--br-3xs);
  background-color: #eaeaea;
  width: 877px;
  height: 41px;
}
.buscar-queja {
  position: absolute;
  top: 47px;
  left: 295px;
  font-size: 20px;
  font-weight: 500;
  color: var(--color-black);
  display: flex;
  align-items: center;
  width: 284px;
  height: 34px;
  opacity: 0.5;
}
.pappel-copia-removebg-previe-icon {
  position: absolute;
  top: 22px;
  left: 85px;
  width: 75px;
  height: 73.2px;
  object-fit: cover;
  cursor: pointer;
}
.component-13-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-wheat-200);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
}
.component-13-inner,
.component-13-item,
.rectangle-div {
  position: absolute;
  height: 20.33%;
  width: 19.92%;
  top: 7.59%;
  right: 10.08%;
  bottom: 72.09%;
  left: 70%;
  border-radius: var(--br-11xl);
  background-color: var(--color-saddlebrown);
}
.component-13-inner,
.rectangle-div {
  width: 43.82%;
  right: 49.51%;
  left: 6.67%;
}
.rectangle-div {
  height: 59.89%;
  width: 88.21%;
  top: 33.06%;
  right: 5.12%;
  bottom: 7.05%;
}
.component-13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.procesando {
  position: absolute;
  height: 16.8%;
  width: 16.42%;
  top: 9.49%;
  left: 71.79%;
  font-weight: 500;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.descripcion {
  margin: 0;
}
.descripcion-ninguno-de-los-container {
  position: absolute;
  height: 50.41%;
  width: 85.37%;
  top: 37.94%;
  left: 7.32%;
  font-weight: 500;
  display: inline-block;
}
.queja-0000001 {
  position: absolute;
  height: 12.74%;
  width: 29.59%;
  top: 11.38%;
  left: 8.78%;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.component-75-child {
  position: absolute;
  height: 20.6%;
  width: 8.05%;
  top: 7.59%;
  right: 0.65%;
  bottom: 71.82%;
  left: 91.3%;
  border-radius: var(--br-11xl);
  background-color: var(--color-saddlebrown);
}
.icon-left {
  width: 24px;
  position: relative;
  height: 24px;
}
.button {
  position: absolute;
  height: 10.84%;
  width: 3.25%;
  top: 13.01%;
  right: 3.09%;
  bottom: 76.15%;
  left: 93.66%;
  border-radius: var(--br-13xl);
  background-color: var(--color-red);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
}
.component-75,
.component-76 {
  position: absolute;
  top: 106px;
  left: 50px;
  width: 1230px;
  height: 369px;
}
.component-76 {
  top: 512px;
}
.denegada,
.descripcion2 {
  height: 16.8%;
  justify-content: center;
}
.descripcion2 {
  position: absolute;
  width: 23.33%;
  top: 44.99%;
  left: 5.93%;
  font-weight: 500;
  color: #fff;
  display: flex;
  align-items: center;
}
.denegada {
  width: 16.42%;
  top: 9.49%;
  left: 71.79%;
}
.denegada,
.descripcion3,
.queja-0000003 {
  position: absolute;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.descripcion3 {
  height: 16.8%;
  width: 23.33%;
  top: 38.48%;
  left: 5.93%;
  justify-content: center;
}
.queja-0000003 {
  height: 12.74%;
  width: 29.59%;
  top: 11.38%;
  left: 8.78%;
  text-align: left;
}
.component-99 {
  position: absolute;
  top: 918px;
  left: 50px;
  width: 1230px;
  height: 369px;
  text-align: center;
}
.apartado-de-quejas {
  width: 100%;
  position: relative;
  background-color: #f1ecd0;
  height: 1024px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-wheat-100);
  font-family: var(--font-inter);
}
